<div class="contenedor">
    <mat-form-field>
      <input matInput [(ngModel)]="x1" type="number" placeholder="Numero1" >
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="x2" type="number" placeholder="Numero2" >
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="y1" type="number" placeholder="Numero2" >
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="y2" type="number" placeholder="Numero2" >
      </mat-form-field>
    <button mat-raised-button color="primary" (click)="calcular()">Calcular</button>
    <h1><p>El resultado es : {{resultado}}</p></h1>
  </div>